.a{
    background-color: rgb(222, 212, 212);
    width: 50%;
    height:200px;
    font-size: 20px;
    border: 2px solid black;
    

 
 
}
body{
  background-color: bisque;
}
.b {
    padding:100px;
    background-color: rgb(227, 220, 19);

  
}
tr {
    border-bottom: 1px solid #ccc; /* Adds a bottom border to each row */
  }
  .bc{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: rgb(198, 224, 215);
  }